  /* MysqlContainer.css */
  
  #button-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
  }
  
  button {
    background-color: black;
    color: beige;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }